doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="description" content="xiao mi mi")
        meta(name="author" content="Vincent")
        meta(name="keywords" content="xiao mi mi")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon")

        style
            include ../node_modules/normalize.css/normalize.css
            include index.css

    body#App-body
        header
            h1 xiao mi mi
            .App-Actions
                a home
                a project
                a people
                a career
                a contact

        .App-main
            block content

        footer

        script
            include ../node_modules/jquery/dist/jquery.min.js